.logo{
  height: 45px;
  width: 45px;
  transition: transform .6s ease-in-out;
  }
.logo:hover{
  transform: rotate(360deg);
}
.logoHome{
  z-index: -1;
  height: 94px;
  width: 100px;
}

.topnav {
    margin-top: 0;
    padding-top: 0;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    height:55px;
    text-align: center;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1000; */
  }
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    
    text-decoration:none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(48, 31, 240);
    color: rgb(254, 254, 254);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .flex-container{
    display:flex;
  }
  .flex-item{
    display: flex;
    align-items: center;
  }
  .flex-item-content {
    flex: 1;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* 
ul desplegable
*/

  ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:0px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:14px;
    right:740px;
    margin-top: 0px;
    
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-105px;
    top:60px;
}
.btn:hover{
  box-shadow: 8px 8px rgba(19, 228, 47, 0.5);
}
.center {
  margin: auto;
  text-align: center;
}
.page{
 padding-top: 80px;
}
.posiciones{
  width: 50%;	
}
.resultados {
  width: 60%;	
}
.estadisticas{
  width: 50%;	
}

 @media (max-width: 500px )or (max-height: 300px) {
  .page {
    margin: auto;
    text-align: center;
     padding-top: 150px;
  }
  .topnav {
    margin-top: 0;
    padding-top: 0;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    height:95px;
    text-align: center;
    top: 0;
    width: 100%;
    /* z-index: 1000; */
  }
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 18px;
    
    text-decoration:none;
    font-size: 17px;
  }
} 